@import 'vars';
.button { // shamelessly taken from storymap css
    outline:none;
    text-shadow:none;
    color: #242424;
    cursor: pointer;
    @include user-select(none); // rend le contenu non selectionnable
    border: 1px solid #E6E6E6;
    border-radius:4px;
    padding:4px 12px;
    font-size:14px;
    margin-right:2px;
    margin-left:2px;
    &:hover{
        background-color: #F8F8F8;
        border-color: #999;
    }

    &:active{
        box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    }

    &.red{
        color: #FFF;
        background-color: #d9534f;
        border-color: #d43f3a;
        &:hover{
            background-color: #c9302c;
        }
    }

    &.blue{
        color: #FFF;
        background-color: #1d93d6;
        border-color: #1d93d6;
        &:hover{
            background-color: #1d6ed6;
        }
    }

    &.small{
        height:24px;
        padding: 0 4px;
        font-size: 14px;
        line-height: 1.2;
        border-radius: 4px;
    }

    &.big{
        padding:6px 14px;
        font-size: 18px;
        border-radius: 6px;
    }

    &.wide{
        width:100%;
    }
}

.closebutton{
    padding: 0;
    margin:0;
    cursor: pointer;
    -moz-user-select: none; // rend le contenu non selectionnable
    color:#AAAAAA;
    background:rgba(0,0,0,0);
    border:none;
    font-size:2em;
    width:22px;
    height:22px;
    line-height: 11px;

    &.large{
        font-size:3.5em;
        width:40px;
        height:40px;
        line-height:15px;
    }

    &:hover{
        color:#FF0000;
    }
}
