.select_option{
	padding: 4px 4px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select_timeline_preview {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
	cursor:pointer;

	&:hover{
		box-shadow: 2px 2px 5px 0px rgba(128,128,128,0.8);
	}

    p {
        margin-top: 0;
    }
}

.select_timeline_previews {
    overflow-x: none;
    overflow-y: auto;
    height: 90%;
}

.removetimeline{
	@extend .closebutton;
    position: absolute;
    margin:0px;
    bottom:2px;
    right:2px;
    float:right;
}
