@import 'vars';
.meta_info{
    // should not be used directly, extend it
    @include title-font(18px);
    color:$inactive-text-color;
    font-weight: bold;
    padding: 5px 0px 5px 15px;
}

.slide {
    $slide-margin-w:12px;
    $slide-margin-h:5px;
    margin:$slide-margin-h $slide-margin-w;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 15px;
    border:1px solid #ccc;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width:calc(100% - #{$tabs-width + 2*$slide-margin-w});
    height:calc(100% - #{2*$slide-margin-h});
    vertical-align: top;
    overflow-y: auto;

    textarea,input {
        @include title-font(1.1em)
        $margin-horizontal: 5px;
        box-sizing: border-box;
        margin-bottom: $margin-horizontal;
        margin-top: $margin-horizontal;
        padding:3px;
        width:100%;
        border-radius: 3px;
        resize:none;

        &[name='text']{
            height:130px;
        }
    }
}

input.headline_input {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.datepicker {
    display: flex;
}

.slide_media,.slide_right {
    $half-slide-margin-w:5px;
    $half-slide-margin-h:5px;
    vertical-align: top; // MAGIC TRICK DO NOT REMOVE
    display: inline-block;
    margin: $half-slide-margin-h $half-slide-margin-w;
    width: calc(50% - #{2*$half-slide-margin-w}) ;
    height:calc(100% - #{2*$half-slide-margin-h}) ;
    box-sizing: border-box;
    padding:5px;
}

.slide_media{
    border:1px solid $light-border-color;
    border-radius:12px;
    background-color:#F8F8F8;
}

.slide_media_meta_info{
    @extend .meta_info;
    padding: 5px 0px 5px 15px;
}

.slide_right {
    /*>div {
        display: block;
        width: 100%;

        input[type="url"] {
            width: 90%;
        }
        input[type="color"] {
            width: 10%;
        }
        input[type="checkbox"] {
            width: auto;
        }
    }*/
    &>.quill {
        border:1px solid $light-border-color;
        border-radius: 5px;
    }
}

.quill-contents {
    border:1px solid $light-border-color;
    border-radius: 4px;
    height: 170px !important;
}

.ql-editor {
    //height: 300px !important;
}


iframe.media_preview,div.media_preview{
    box-sizing: border-box;
    height:calc(100% - 240px); // 240px is some "random" value, change when needed
    width:100%;
    max-width:90vw;
    max-height:90vh;
}

div.media_preview.empty{
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    border:1px solid $grey-border-color;
    border-radius: 10px;
}

img.media_preview{
    height:auto;
    width:auto;
    max-height:100%;
    max-width:100%;
}
