

.slide {
    box-sizing: border-box;
    background-color: $slide-background;
    border-radius:$border-radius;
    border: $border;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width:$slide-width;
    vertical-align: top;
    height: 100%;


    textarea,input {
        @include title-font(1.1em)
        $margin-horizontal: 5px;
        box-sizing: border-box;
        margin-bottom: $margin-horizontal;
        margin-top: $margin-horizontal;
        padding:3px;
        width:100%;
        border:solid 1px #555;
        border-radius: 3px;
        &:focus{
            border-color: #AAA;
        }
    }
}

.slide_media,.slide_right {
    vertical-align: top; // MAGIC TRICK DO NOT REMOVE
    display: inline-block;
    width: 50%;
    height:100%;
    box-sizing: border-box;
    * {
        display: block;
    }
    padding:5px;
}

.slide_media_preview {
    // TODO do a real preview mate
    @include main-font(1.5em);
    font-weight:bold;
    height:52%;
    border-radius : 25px;
    box-sizing: border-box;
    border: 40px solid black;
    text-align: center;
}

.slide_media{
    border-right:solid 2px black;
}

.slide_right{

}

.slide_tab{
    position: relative;
    @include title-font(12px);
    font-weight: bold;
    background-color: $tab-background;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-right:$border;
    border-top:$border;
    cursor:pointer;
    overflow:hidden;
    text-overflow: ellipsis;
    height:$tab-height;
    width:$tab-width;
    padding:3px;
}

.slide_tab:last-child{

}
