@import 'button';
.tabs_panel{
    display:inline-block;
    height:100%;
    width:$tabs-width;
    // TODO FIND THE FUCK WHY THERE IS 4PX UNUSED AFTER TABS ?.?.???
}

.tabs{
    display:inline-block;
    box-sizing: border-box;
    height:calc(100% - #{30px});
    overflow-x: hidden;
    overflow-y: scroll;
}

.slide_tab{
    position: relative;
    @include title-font(14px);
    -moz-user-select: none;
    font-weight: bold;
    background-color: $tab-background;
    border-right:$border;
    border-top:$border;
    cursor:pointer;
    overflow:hidden;
    text-overflow: ellipsis;
    height:$tab-height;
    width:$tab-width;
    padding:3px;

    &>.removeslide{
        display:none;
    }

    &:hover{
        &>.removeslide{
            display:inline-block;
        }
    }

    &:last-child{
        border-bottom-right-radius: $border-radius;
        border-bottom:$border;
    }

    &:first-child{
        border-top-right-radius: $border-radius;
    }

    &[data-focused='true']{
        border-color:rgb(123, 104, 238);
        box-shadow: inset 0px 0px 4px 0px rgba(123, 104, 238,1);
    }
}

.removeslide{
    @extend .button, .xsmall, .red;
    position: absolute;
    margin:0px;
    bottom: 0;
    right:0;
    width:20px;
    float:right;
}

.newslide{
    @extend .button, .small, .blue;
    $margin-vertical:1px;
    width:calc(100% - #{2*$margin-vertical});
    margin:0 $margin-vertical;
    box-sizing: border-box;
}
