@import 'vars';
@import 'mixins';
@import 'slide';

body {
    @include main-font();
    background-color: $background-color ;
}

body,html{
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6{
    @include title-font();
}

.interface {
    height: 100vh;
}

.menu {
    height: 10vh;
}

.content {
    height: 90vh;
}

.tabs{
    display:inline-block;
    box-sizing: border-box;
    width:$tabs-width;
    height:$editor-height;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom:$border;
    border-bottom-right-radius: $border-radius;
}

.json {
    position: fixed;
    width: 80%;
    height: 80vh;
    margin: auto;
    left: 5%;
    top: 5%;
    background-color: grey;

    code {
        background-color: white;
        overflow: auto;
    }
}
