@import '../button';

.textexport, .preview iframe {
    @include main-font(10px);
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 95%;
    height: calc(100% - 90px);
    // TODO : remplacer 90px par une vraie valeur dépendante du style
    margin: 0 auto;
    resize: none;
}

.textexport {
    width: 60%;
    height: 100%;
    display: inline-block;
}

.export p {
    width: 35%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
}

.export div {
    height: calc(100% - 90px);
}

.export select {
    font-weight:bold;
    font-size:  1.6em ;
    display: inline-block;

}

.export h1{
    margin-right:16px;
    display: inline-block;
}

button.save_as {
    @extend .button, .blue ,.big ;
    float:right;
    margin-top:32px;
    margin-right:32px;
}
