@import 'button';
// ^ dependencies ^

@import 'export';

.popup-background {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.5;
}

.popup {
    $padding:10px;
    $height:90vh;
    $width:90vw;
    position: fixed;
    top: 50vh;
    left: 50vw;
    background-color: rgb(248, 251, 253);
    z-index: 3;
    padding:$padding;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    @include box-shadow(rgba(0, 0, 0, 0.5) 0px 5px 15px 0px);
    // ^ common ^

    width: $width;
    height: $height;
    margin-left:calc( 0px - #{$padding} - #{$width/2} );
    margin-top:calc( 0px - #{$padding} - #{$height/2} );

    &.small{
        $height:380px;
        $width:320px;
        width: $width;
        height: $height;
        margin-left:calc( 0px - #{$padding} - #{$width/2} );
        margin-top:calc( 0px - #{$padding} - #{$height/2} );
    }
}

.export, .preview, .selecttimeline {
    @extend .popup;
}

.signupscreen, .loginscreen {
    @extend .popup,.small;
    input{
        box-sizing: border-box;
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        padding: 6px 12px;
    }
}

.signupscreen {
    height: 220px;
    &>input{
        margin-bottom:2px;
    }
}

.loginscreen {
    height: 185px;
    &>input{
        margin-bottom:2px;
    }
}

.closepopup{
    @extend .closebutton;
    position: absolute;
    margin:0px;
    top: 5px;
    right: 5px;
    width:36px;
    height:36px;
    font-size: 3em ;
    float:right;
}
